.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #388E3C;
  color: white;
  text-align: left;
  padding-left: 20px;
<<<<<<< HEAD
  z-index: 1000;
=======
>>>>>>> a6472cde4a3738491d6e74285982378310d553c1
}
