#recipes {
  text-align: left;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-flow: wrap;
}

.recipe {
  width: 100%;
}

.recipe img{
  max-width: 80%;

  display: block;
}