#recipes {
  text-align: left;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-flow: wrap;
}

.recipe {
  width: 100%;
}

.recipe img{
  max-width: 80%;

  display: block;
}
.recipe ul {
  list-style: none;
  padding-left: 22px;
}


.quant-badge {
  display: inline-block;
  width: 35px;
  margin-right: 4px;
}