#sidebar {

  margin-right: 1em;
}

.list-group-item > .badge {
  float: none;
  margin-right: 1em;
  display: inline-block;
  width: 35px;
  margin-right: 4px;
}
.list-group{
  border: 1px solid #388E3C;
  border-radius: 5px;
}
@media screen and (max-width: 992px) {
  .list-group {
      max-height: 250px;
      overflow: scroll;

  }
}

