#sidebar {

  margin-right: 1em;
}

.list-group-item > .badge {
  float: left;
  margin-right: 1em;
}
@media screen and (max-width: 992px) {
  .list-group {
      max-height: 250px;
      overflow: scroll;

  }
}

